{extend name='common/_container'} 
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CouponInfoForm">
		<form class="layui-form" action="">
			<input type="hidden" name="goods_id" id="goods_id" value="{$goods_id}">
			<div class="row">
				<div class="col-sm-6 b-r">				
					{input id="number" readonly="" name="卡券数量" underline="true"/}
					{input id="note" name="备注" underline="true" value=""/}
					<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">激活方式</label>
							<div class="col-sm-9">								
									<input name="mode" value="1" type="radio" checked title="自动激活">
									<input name="mode" value="2" type="radio" title="手动激活">
							</div>
						</div>	
				</div>
                <div class="col-sm-6">				
					<div class='form-group'>
					<label class='col-sm-3 control-label'>开始时间</label>
                    <div class='col-sm-9'>					
                     <input type="text" value="{$startTime}" style="width:250px;" class="form-control layer-date"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										id="startTime">
					</div>
					</div>
					<div class="hr-line-dashed"></div>

					
					<div class='form-group'>
					<label class='col-sm-3 control-label'>结束时间</label>
                    <div class='col-sm-9'>					
                     <input type="text" value="{$endTime}" style="width:250px;" class="form-control layer-date"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										id="endTime">
					</div>
					</div>
					<div class="hr-line-dashed"></div>
					

		
				</div>
				
			</div>
			
			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<button type="button" class="btn btn-info " onclick="CouponInfoDlg.addSubmit()" id="ensure">
					    <i class="fa fa-check"></i>&nbsp;提交
					</button>
					<button type="button" class="btn btn-danger " onclick="CouponInfoDlg.close()" id="cancel">
					    <i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
			</form>
		</div>

	</div>
</div>
<script src="__PUBLIC__/static/js/admin/coupon/coupon_info.js"></script>
<script src="__PUBLIC__/static/old/plugs/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script>
layui.config({dir: '__PUBLIC__/static/old/plugs/layui/'});
layui.use(['layer', 'form'], function () {
    window.layer = layui.layer;
    window.form = layui.form();
});
</script> 
{/block}
