{extend name='common/_container'} {block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="goodsInfoForm">

			<form class="layui-form" action="">
				<input type="hidden" id="id" value="{$goods[id]}">
				<input type="hidden" id="old_status" value="{$goods[status]}">
				<div class="row">
					<div class="col-sm-6 b-r">
						{input id="name" name="商品名称" underline="true" value="$goods[name]"/}
						{input id="note" name="商品备注" underline="true" value="$goods[note]"/}
						{input id="money" name="券面额"
						underline="true" value="$goods[money]"/}
					</div>
					<div class="col-sm-6">
						{input id="negPrice" name="协议价格" underline="true" value="$goods[negotiatedMoney]"/}
						<div class='form-group'>
					<label class='col-sm-3 control-label'>开始时间</label>
                    <div class='col-sm-9'>					
                     <input type="text" readonly value="{$startTime}" style="width:250px;" class="form-control layer-date"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										id="startTime">
					</div>
					</div>
					<div class="hr-line-dashed"></div>

					
					<div class='form-group'>
					<label class='col-sm-3 control-label'>结束时间</label>
                    <div class='col-sm-9'>					
                     <input type="text" readonly value="{$endTime}" style="width:250px;" class="form-control layer-date"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										id="endTime">
					</div>
					</div>
					<div class="hr-line-dashed"></div>

						
					</div>
					<!--
					<div class="col-sm-6">
						<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">商品状态</label>
							<div class="col-sm-9">
								{if condition="($goods['status'] eq '2') OR ($goods['status'] eq '3') "}
									<input type="radio" name="status" value="0" title="草稿" {if condition="($goods['status'] eq '0')"} checked {/if} disabled> 
									<input type="radio" name="status" value="1" title="待审核" {if condition="($goods['status'] eq '1')"} checked {/if} disabled>
									<input type="radio" name="status" value="2" title="正常"  {if condition="($goods['status'] eq '2')"} checked {/if} >
									<input type="radio" name="status" value="3" title="停售" {if condition="($goods['status'] eq '3')"} checked {/if} >
								{else /}
									<input type="radio" name="status" value="0" title="草稿" {if condition="($goods['status'] eq '0')"} checked {/if} disabled> 
									<input type="radio" name="status" value="1" title="待审核" {if condition="($goods['status'] eq '1')"} checked {/if} disabled>
									<input type="radio" name="status" value="2" title="正常" disabled >
									<input type="radio" name="status" value="3" title="停售" disabled >
								{/if}
								

								
							</div>
						</div>	
					</div>
					-->
				</div>

				<div class="row btn-group-m-t">
					<div class="col-sm-10">
						<button type="button" class="btn btn-info "
							onclick="GoodsInfoDlg.editSubmit()" id="ensure">
							<i class="fa fa-check"></i>&nbsp;提交
						</button>
						<button type="button" class="btn btn-danger "
							onclick="GoodsInfoDlg.close()" id="cancel">
							<i class="fa fa-eraser"></i>&nbsp;取消
						</button>
					</div>
				</div>

			</form>
		</div>

	</div>
</div>
<script src="__PUBLIC__/static/js/admin/goods/goods_info.js"></script>
{/block} 

{block name="script"}
<script src="__PUBLIC__/static/old/plugs/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script>
layui.config({dir: '__PUBLIC__/static/old/plugs/layui/'});
layui.use(['layer', 'form'], function () {
    window.layer = layui.layer;
    window.form = layui.form();
});
</script> 
{/block}
