{extend name='common/_container'} 
{block name="content"}

<div class="row">
	<div class="col-sm-6  col-sm-offset-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>网站参数</h5>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">

					<form id="myForm" onsubmit="return false;" action="__SELF__"
						data-auto="true" method="post" class='form-horizontal'
						style='padding-top: 20px'>

						<div class="form-group">
							<label class="col-sm-3 control-label">SiteName <span
								class="nowrap">(网站名称)</span></label>
							<div class='col-sm-8'>
								<input type="text" id="site_name" required="required"
									title="请输入网站名称" placeholder="请输入网站名称"
									value="{:sysconf('site_name')}" class="layui-input">
								<p class="help-block">网站名称，显示在浏览器标签上</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Copyright <span
								class="nowrap">(版权信息)</span></label>
							<div class='col-sm-8'>
								<input type="text" id="site_copy" name="site_copy"
									required="required" title="请输入版权信息" placeholder="请输入版权信息"
									value="{:sysconf('site_copy')}" class="layui-input">
								<p class="help-block">程序的版权信息设置，在后台登录页面显示</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">AppName <span
								class="nowrap">(程序名称)</span></label>
							<div class='col-sm-8'>
								<input type="text" id="app_name" required="required"
									title="请输入程序名称" placeholder="请输入程序名称"
									value="{:sysconf('app_name')}" class="layui-input">
								<p class="help-block">当前程序名称，在后台主标题上显示</p>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-3 control-label">AppVersion <span
								class="nowrap">(程序版本)</span></label>
							<div class='col-sm-8'>
								<input type="text" id="app_version" required="required"
									title="请输入程序版本" placeholder="请输入程序版本"
									value="{:sysconf('app_version')}" class="layui-input">
								<p class="help-block">当前程序版本号，在后台主标题上标显示</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Baidu <span
								class="nowrap">(百度统计)</span></label>
							<div class='col-sm-8'>
								<input type="text" id="tongji_baidu_key" maxlength="32"
									pattern="^[0-9a-z]{32}$" title="请输入32位百度统计应用ID"
									placeholder="请输入32位百度统计应用ID"
									value="{:sysconf('tongji_baidu_key')}" class="layui-input">
								<p class="help-block">
									百度统计应用ID，可以在<a target="_blank" href="https://tongji.baidu.com">百度网站统计</a>申请并获取
								</p>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary" onclick="Config.save()">保存配置</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	/**
	 * 代码生成管理初始化
	 */
	var Config = {};

	/**
	 * 提交代码生成，方式1：
	 */
	Config.save = function() {
		var tip = "保存配置";
		$.ajax({
			type : "post",
			url : "__SELF__",
			dataType : "json",
			async : false,
			data : $('#myForm').serialize(),
			beforeSend : function(data) {

			},
			success : function(data) {
				if (1 === parseInt(data.code)) {
					Feng.success(tip + "成功！" + data.msg + "！");
				} else {
					Feng.error(tip + "失败！" + data.msg + "！");
				}
			},
			error : function(data) {
				Feng.error(tip + "失败！" + data.msg + "！");
			}
		});
	};

	/**
	 * 提交代码生成，方式2：
	 */
	Config.save2 = function() {
		var baseAjax = Feng.baseAjax("__SELF__", "保存配置");
		baseAjax.set("site_name");
		baseAjax.set("site_copy");
		baseAjax.set("app_name");
		baseAjax.set("app_version");
		baseAjax.set("tongji_baidu_key");
		baseAjax.start();
	};
</script>
{/block}
